@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

@theme {
  --color-grain-50: #e5e100;
  --color-grain-100: #ffb333;
  --color-grain-200: #ca7f00;
  --color-grain-300: #a45928;
  --color-grain-400: #79421e;

  --animate-subtle-effect: subtle-effect 15s linear infinite;

  @keyframes subtle-effect {
    0%,
    100% {
      filter: hue-rotate(0deg);
    }

    50% {
      filter: hue-rotate(25deg) drop-shadow(0 0 5px rgba(245, 194, 231, 0.5));
    }
  }
}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/assets/grain-blur.avif") no-repeat center center fixed #41311a;
  background-size: cover;
  font-family: "Comic Relief", sans-serif;
  min-height: 100vh;
  color: white;
}

hr {
  border-color: gray;
}

.wavy-text span {
  display: inline-block;
  animation: wave 2s ease-in-out infinite;
}

.wavy-text span:nth-child(1) {
  animation-delay: 0s;
}

.wavy-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.wavy-text span:nth-child(3) {
  animation-delay: 0.4s;
}

.wavy-text span:nth-child(4) {
  animation-delay: 0.6s;
}

.wavy-text span:nth-child(5) {
  animation-delay: 0.8s;
}

.wavy-text span:nth-child(6) {
  animation-delay: 1s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(-5px);
    filter: hue-rotate(360deg);
  }
}

@keyframes accurotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg) scaleX(1) scaleY(1) scaleZ(1)
      rotateZ(0deg);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: rotateY(-280deg) rotateX(280deg) rotateZ(280deg) scaleX(0.1);
    filter: hue-rotate(180deg);
  }

  100% {
    transform: rotateY(-360deg) rotateX(-360deg) scaleX(1) scaleY(1) scaleZ(1)
      rotateZ(-360deg);
    filter: hue-rotate(360deg);
  }
}
